<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebAutomationSuite" parallel="false">

    <listeners>
        <listener class-name="com.base.framework.ExtentReportListener_New"/>
        <listener class-name="com.base.framework.ScreenshotListener"/>
    </listeners>

<test name="All Tests">
    <classes>
        <class name="com.base.tests.LoginTest"/>
        <class name="com.base.tests.DashboardValidationTest"/>
        <class name="com.base.tests.InvalidLoginTest"/>
    </classes>
</test>

</suite>